{% extends 'base.html' %}
{% block content %}
<h2 class="center-heading">Dashboard</h2>

<div class="dashboard-links">
  <a href="{{ url_for('sos.hourly_review') }}" class="btn">Hourly Operating Review</a>
  <a href="{{ url_for('sos.daily_review_summary') }}" class="btn">Dialy Operating Review - Summary</a>
  <a href="{{ url_for('sos.daily_review_load') }}" class="btn">Dialy Operating Review - Load</a>
  <a href="{{ url_for('sos.daily_review_energy') }}" class="btn">Daily Operating Review - Energy</a>
  <a href="{{ url_for('sos.mor_eht_tf_interruptions') }}" class="btn">MOR - EHT & Transformer Interruptions</a>
  <a href="{{ url_for('sos.mor_ht_interruptions') }}" class="btn">MOR - HT Interruptions</a>
  <a href="{{ url_for('sos.mor_energy') }}" class="btn">MOR - Monthly Energy Transaction</a>
  <a href="{{ url_for('sos.abc_details') }}" class="btn">MOR - Town ABC Feeder Details</a>
</div>
{% endblock %}
